/* PADRÃO  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor1: #cd0508;
}

nav { box-shadow: 0px 0px 3px #818181; }
.navbar-nav .nav-link:hover { color: var(--cor1); transition: color 0.8s; }
.navbar-nav .active { color: var(--cor1) !important; }
h2 span { color: var(--cor1); font-weight: bold; }
h3 { text-align: center; font-size: 1.5em; }
hr { width: 80px; margin-top: 0px; border: 2px solid var(--cor1); opacity: 1;}
#servicos hr, #portfolio hr { margin-left: auto; margin-right: auto; }
.cor1 { color: var(--cor1); }

/* BANNER */
#capa { 
    min-height: 85vh;
    background: url(../img/capa.png) center center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
#capa h1 { color: #fff; font-size: 2.8rem; text-transform: uppercase;}

/* MISSÃO, VISÃO E VALORES */
#valores { margin-top: -60px; }
#valores .card { border-radius: 8px; padding: 10px; text-align: center; }
#valores .card img {
    margin: 0 auto;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--cor1);
    width: 70px;
    height: 70px;
}
#valores div div p { text-align: justify; }
#valores div div, #servicos .col-lg-4 { margin-bottom: 10px;}

/* QUEM SOMOS */
.vantagens { width: 40px; background-color: var(--cor1); padding: 5px; border-radius: 50%; }
@media only screen and (max-width: 767px) {
    #quem-somos h2 { text-align: center; }
    #quem-somos hr { margin-left: auto; margin-right: auto; }
}

/* NOSSOS SERVIÇOS */
#servicos { background-color: #F0F1F6; }
.card-body, .card-title { text-align: left; }
.card-title { font-size: 1.3rem; color: var(--cor1); text-transform: uppercase;}

/*PORTFÓLIO */
#galeria img { width: 100%; border-radius: 5px; margin-bottom: 10px; }
#galeria { column-count: 3; column-gap: 10px; }

/* CONTACTOS */
#contactos { background-color: #212121; color: #fff; }
#contactos ul { list-style: none; padding-left: 0px; }
#contactos h3 { text-align: left; font-size: 1.5em; }
#contactos hr { border-color: #fff; }
#contactos li a { text-decoration: none; color: #fff; transition: color .5s;}
#contactos li a:hover { color: var(--cor1); }

#decoracao ul li { list-style-type: "\27A1\00A0"; list-style-position: inside; }

/* RODAPÉ */
footer { background-color: #1b1b1b; color: #fff; }
footer a { color: #fff; transition: .6s; text-decoration: none;}
footer a:hover { color: var(--cor1); }